{% extends "emp/base.html" %}
{% block title %}Update Employee{% endblock title%}
{% block main-content %}
<section class="container">
    <div class="row justify-content-around text-center mt-5">
        <div class="col-sm-7">
            <h3>CRUD Project in Employee Management</h3>
        </div>
        <div class="row justify-content-around mt-5">
            <div class="col-sm-7">
                <form action="" method="POST" class="bg-black p-3 rounded shadow">
                    {%  csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-primary">

                </form>
        </div>
    </div>
{% endblock main-content %} 